{% extends 'Base/base.html' %}

{% block title %}
    Canal
{% endblock title %}

{% block container %}
<div class="container" ng-controller="CCanal">

    <div class="sig-nav">

        <div class="panel panel-default sombra1" style="background-color: #ffffff; width: 28%; height: 350px; float:left; margin-left: 10px">
            <div class="panel-body">
                <center><img src="../../static/images/apps.png" style="width: 200px" align="center" class="img-circle sombra2"></center>
              </div>
        </div>
            <div class="panel panel-default post sombra1" style="float: right">
                <strong ng-bind="id_canal"></strong>
                <h1 align="center">{$ allcanals.nombre $}</h1>
                <p style="text-align: justify">{$ allcanals.descripcion $}</p>
            </div>

            <div >
                <ul class="nav nav-pills navbar-right">
                  <li  class="active"><a href="#publi" data-toggle="tab" aria-expanded="true">Publicaciones</a></li>
                  <li><a href="#integrantes" data-toggle="tab" aria-expanded="true">Integrantes</a></li>
                  <li><a data-toggle="tab" href="#fotos" aria-expanded="true">Fotos</a></li>
                  <li><a href="#conocer" data-toggle="tab" aria-expanded="true">Conocer más</a></li>
                </ul>
    <div id="myTabContent" class="tab-content">
      <!--Publicaciones-->
  <div class="tab-pane fade active in" id="publi" ng-controller="CPost">
      <form method="post" ng-submit="Guardar(new_post)">{% csrf_token %}
        <div class="panel panel-default post sombra1" style="margin-top: 5%">
          <div class="panel-body">
            <div class="box box-primary">
              <div class="box-body">
                <textarea rows="3" class="form-control input-sm" ng-model="new_post.contenido" placeholder="Escribe tu publicación"></textarea>
              </div>
              <div class="box-footer" align="right">
                  <button type="submit" class="btn btn-primary naveg">Publicar!</button>
                  <data ng-init="new_post.tipo=1"></data>
                  <data ng-init="usuario='{{ request.user.username }}'"></data>
                  <data ng-init="new_post.aux_canal = misparams().canal"></data>
              </div>
            </div>
          </div>
        </div>
      </form>
    <label style="margin-left: 32%; font-size: 20px" >Publicaciones Recientes</label>
    <div ng-repeat="post in allposts | filter: { id_canal: misparams().canal } | orderBy: 'fecha_creacion': true">
        <div class="col-lg-6" ng-value="post.id">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="imgperfil col-lg-1" src="../../static/images/icon_user1.png">
                    <div class="row">
                        <div class="col-lg-7">
                            <strong class="panel-title"><a class="row" href="{% url 'red:url_miperfil' %}">{$ post.autor $}</a></strong>
                            <p class="row text-muted" ><small>{$ post.fecha_creacion $}</small></p>
                        </div>
                        <div class="btn-group col-lg-2">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">keyboard_arrow_down</i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="showModal(post)">Editar Publicación...</a></li>
                                <li class="divider"></li>
                                <li><a class="text-danger" href="" ng-click="remove(post)">Eliminar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <p class="lead col-xs-10">{$ post.contenido $}</p>
                    </div>
              </div>
                <div class="panel-heading">
                    <a href="" class="inline-group "><i class="material-icons">favorite</i>ME GUSTA</a>
                    <a href="" class="inline-group"><i class="material-icons">share</i>COMPARTIR</a>
                </div>
                <span class="divider"></span>
                <div class="panel-footer">
                    <div ng-repeat=" comentario in post.actividad[0].comentarios ">
                        <p ng-bind="comentario.contenido"></p>
                    </div>
                    <input type="text" placeholder="Escribe tu comentario...">
                </div>
            </div>
        </div>
    </div>
</div>
  <!--Fotos-->
      <div class="tab-pane fade " id="fotos">
        <div class="panel panel-default post sombra1" style="margin-top: 5%">
         <div class="panel-body">
          <div class="">
            <div class="form-group">
              <h4 class="colorlet">Fotos de perfil</h4>
              <img src="../../static/images/redessociales.jpg" style="height: 100px" class="img-thumbnail">
              <img src="../../static/images/pcapple.png" style="height: 100px" class="img-thumbnail">
              <img src="../../static/images/informatica.png" style="height: 100px" class="img-thumbnail">
            </div>
            <div class="form-group">
              <h4 class="colorlet">Fotos Publicadas</h4>
              <img src="../../static/images/rededi.JPG" class="img-thumbnail" style="width: 150px;height: 150px">
              <img src="../../static/images/desa.jpg" class="img-thumbnail"style="width: 150px;height: 150px">
            </div>
          </div>
         </div>
        </div>
      </div>

        <!--Conocer más-->
      <div class="tab-pane fade " id="conocer">
        <div class="panel panel-default post sombra1" style="margin-top: 5%">
         <div class="panel-body">
          <div>
                <label style="font-size: 20px; color:#01579b" >Autor:</label>
              <a style="font-size: 18px; color:#777777; margin-left: 20px" href="{% url 'red:url_perfil' %}">
                <img src="../../static/images/usuario3.png" style=" height: 30px">
                  Rocio Silva
              </a>
              </div>
           <br>
             <div class="form-group">
               <label style="font-size: 20px;  color:#01579b">Fecha de creación:</label>
               <label style="font-size: 17px">03 de Noviembre de 2015</label>
               <span class="glyphicon glyphicon-calendar"></span>
             </div>
         </div>
        </div>
      </div>

        <!-- Integrantes -->
        <div class="tab-pane fade " id="integrantes">
       <div class="panel panel-default post sombra1" style="margin-top: 5%;">
         <div class="panel-body">

           <div class="list-group">
              <a href="{% url 'red:url_perfil' %}" class="list-group-item">
                <img src="../../static/images/usuario3.png" style=" height: 50px">
             <h4 class="list-group-item-heading">Rocio Silva</h4>
                <p class="list-group-item-text">Ing. en Informática</p>
              </a>
              <a href="#" class="list-group-item">
                 <img src="../../static/images/usuario9.png" style="height: 50px">
                <h4 class="list-group-item-heading">Petra Gómez</h4>
                <p class="list-group-item-text">Analista de sistemas</p>
              </a>
               <a href="#" class="list-group-item">
                 <img src="../../static/images/usuario11.jpg" style="height: 50px">
                <h4 class="list-group-item-heading">Francisco Alvarado</h4>
                <p class="list-group-item-text">Ing. en Informática</p>
              </a>
            </div>

         </div>
       </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock container %}
