{% extends 'Base/base.html' %}

{% block container %}
<div class="container" ng-controller="Bichito">

    <div class="sig-nav" ng-repeat="post in usuarios">
        <div class="well">
            <label>Nombre:</label>
            <input type="text" ng-model="newPost.nombres">
            <button ng-Click="Submit">Editar</button>
            <div class="panel-primary" ng-bind="post.nombres">
            </div>

            <br>
            <label>Nombre de Usuario:</label>
            <input type="text" ng-model="newPost.username">
            <button ng-Click="Submit">Editar</button>
            <div class="panel-primary" ng-bind="post.username">
            </div>
            <br>
            <label>Correo de Contacto:</label>
            <input type="text" ng-model="newPost.email">
            <button ng-Click="Submit">Editar</button>
            <div class="panel-primary" ng-bind="post.email">
            </div>
            <br>
            <label>Contraseña:</label>
            <input type="text" ng-model="newPost.password">
            <button ng-Click="Submit">Editar</button>
            <div class="panel-primary" ng-bind="post.password">
            </div>
            <br>
            <label>Telefono Registrado:</label>
            <input type="text" ng-model="newPost.telefono_movil">
            <button ng-Click="Submit">Editar</button>
            <div class="panel-primary" ng-bind="post.telefono_movil">
            </div>
        <div class="card__img card__img--left" style="height: 160px;">
<img src="static/images/icon_user1.png">
        </div>
        </div>
    </div>
 {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <form method="post" action="{% url 'signup' %}">

        {% csrf_token %}

        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>

            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>

            <tr>
                <td>{{ form.first_name.label_tag }}</td>
                <td>{{ form.first_name }}</td>
            </tr>

            <tr>
                <td>{{ form.last_name.label_tag }}</td>
                <td>{{ form.last_name }}</td>
            </tr>

        </table>

        <input type="submit" value="login"/>
    </form>
</div>
{% endblock container %}