{% extends 'Base/base.html' %}

{% block title %}
Mis Canales
{% endblock title%}

{% block extrajs %}
    <script>
        $('#btnModal').on("click", function(event) {
            event.preventDefault();

            var $contenedorModal = $('#modal_canal');
            var urlModal         = $(this).attr("href");
            var idModal          = $(this).data("idmodal");

            $contenedorModal.load(urlModal + ' ' + idModal , function(response) {
            $(this).modal({backdrop: "static"});
            });
        });
    </script>
{% endblock extrajs %}
{% block container %}
    <div class="container" ng-controller="CMisCanales">
    <div class="sig-nav">
        <div class="panel panel-default">
            <div class="panel-body center-block">
                <h4 class="col-lg-11">Mis Canales</h4>
                <a class="col-lg-1 center-block btn btn-link" id="bntModal" href="#" data-idmodal="#modal_canal"><i class="material-icons">add_circle_outline</i></a>
            </div>
        </div>
        <div ng-repeat="canal in canales">
            <div class="col-lg-4 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="" ng-click="Redireccionar(canal.id)">{$ canal.nombre $} </a></h4>
                    </div>
                    <div class="panel-body">
                        <img class="circular col-lg-4" src="../../static/images/icon_user1.png">
                        <p class="col-ls-8">{$ canal.descripcion $}</p>
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'red:url_miperfil' %}" >{$ canal.autor.nombres $}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal para agregar un canal -->
    <div class="modal" id="modal_canal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock container %}