{% load static %}
<form class="form-horizontal">
    <fieldset>
        <div class="panel-body">
             <center><img src="{%  static 'images/usuario2.png' %}" align="center" class="img-circle"></center></p>
                    <center> <legend class="colorlet" align="center" style="font-size: 25px">Permisos</legend></center>
        </div>

        <div class="form-group" id="solo-esto">
            <label class="col-lg-2 control-label colorlet" style="font-size: 17px">1.</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" >
                  </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" >Editar</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label colorlet" style="font-size: 17px">2.</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" >
                </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Editar</button>
            </div>
        </div>
        <div class="form-group">
            <center>  <label class="col-lg-2 control-label colorlet"  style="font-size: 17px">3.</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" >
            </div>
            </center>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Editar</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
            <center> <button type="reset"  class="btn btn-default naveg"  href="panel_admin1.html">Cancelar</button>
                <button type="submit"  class="btn btn-success naveg">Guardar</button></center>
            </div>
        </div>
    </fieldset>
</form>
