{% load static %}
<div>
    <fieldset>
        <p> <center><img src="{% static 'images/usuario2.png' %}" align="center" class="img-circle"></center></p>
         <center><legend class="colorlet" align="center" style="font-size: 25px">Rol</legend></center>

        <div class="form-group">
             <label class="col-lg-2 control-label colorlet" style="font-size: 17px">Nombre</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" placeholder="Escriba el Rol">
          </div>
         </div>

        <div class="form-group">
             <label for="textArea" style="font-size: 17px" class="col-lg-2 control-label colorlet">Descripcion </label>
            <div class="col-lg-10">
                  <textarea class="form-control" rows="3" id="textArea"></textarea>
            </div>
        </div>

         <div>
            <center> <legend class="colorlet"  style="font-size: 30px">Permisos</legend></center>
         </div>

        <div class="form-group">
              <label class="col-lg-2 control-label colorlet" style="font-size: 17px">1.</label>
         <div class="col-lg-10">
               <input type="text" class="form-control" id="inputName1" >
         </div>
         </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Editar</button>
             <button type="submit" align="right" class="btn btn-default ">Elimiar</button>
            </div>
         </div>


        <div class="form-group">
             <label class="col-lg-2 control-label colorlet" style="font-size: 17px">2.</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputName2" >
            </div>
        </div>

         <div class="form-group">
             <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Editar</button>
              <button type="submit" align="right" class="btn btn-default ">Elimiar</button>
             </div>
         </div>


         <div class="form-group">
              <label class="col-lg-2 control-label colorlet" style="font-size: 17px">3.</label>
              <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputName3" >
             </div>
         </div>

         <div class="form-group">
           <div class="col-lg-10 col-lg-offset-2">
                 <button type="reset" class="btn btn-default">Editar</button>
                <button type="submit" align="right" class="btn btn-default ">Elimiar</button>
            </div>
         </div>

         <div class="form-group">
               <div class="col-lg-10 col-lg-offset-2">
                <center>  <button type="reset"  class="btn btn-default naveg" href="templates/redtem/panel_admin1.html" >Cancelar</button>
                   <button type="submit"  class="btn btn-success naveg" >Guardar</button></center>
               </div>
         </div>
    </fieldset>
</div>