{% load static %}
<form class="form-horizontal">
    <fieldset>
        <center><img src="{% static 'images/icon_user1.png' %}" align="center" class="img-circle"></center>
        <center> <legend class="colorlet" align="center" style="font-size: 25px">Nuevo Administrador</legend></center>

    <div class="form-group">
        <label class="col-lg-2 control-label colorlet" style="font-size: 17px">Nombre</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" placeholder="Escriba el Nombre">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label colorlet" style="font-size: 17px">Apellido</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" placeholder="Escriba el Apellido">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label colorlet" style="font-size: 17px">Username</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" placeholder="Escriba el Nombre de Usuario">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label colorlet" style="font-size: 17px">Password Provisional</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="password" placeholder="Escriba la contraseña">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default naveg">Cancelar</button>
            <button type="submit" align="right" class="btn btn-success naveg">Guardar</button>
        </div>
    </div>

    </fieldset>
</form>
