{% extends 'Base/base.html' %}
{% block title %}
    Publicaciones
{% endblock title %}
{% block container %}
    <div class="container" ng-controller="CPost">
    <div class="row sig-nav">
        <div class="col-lg-2">
            <div class="well well-sm">
                <a href="{% url 'red:canales_user' %}" class="text-primary">CANALES</a>
            </div>
            <div class="well well-sm">
                <a href="#" class="text-primary">SEGUIDORES</a>
            </div>
            <strong>CREAR</strong>
            <br>
            <a href="{% url 'red:url_crearcanal' %}">Nuevo Canal</a>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="col-lg-3 circular" src="../../static/images/icon_user1.png">
                        <textarea class="col-lg-9" placeholder="¿Qué quieres contarnos?" rows="3"></textarea>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary btn--m bottom-right">Publicar</button>
                    </div>
                </div>
            </div>
            <div ng-repeat="post in posts | orderBy: 'fecha_creacion': true">
                <div class="col-lg-6" ng-value="post.id">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="imgperfil col-lg-2" src="../../static/images/icon_user1.png">
                            <div class="col-lg-10">
                                <strong class="panel-title"><a class="row" href="{% url 'red:url_miperfil' %}" ng-bind="post.autor.nombres +' '+ post.autor.apellidos"></a></strong>
                                <span class="row" ng-bind="post.fecha_creacion"></span>
                                <p class="paragraph" ng-bind="post.contenido"></p>
                            </div>
                      </div>
                        <div class="panel-heading">
                            <a href="" class="inline-group"><i class="material-icons ">favorite_border</i>ME GUSTA</a>
                            <a href="" class="inline-group"><i class="material-icons ">share</i>COMPARTIR</a>
                        </div>
                        <div class="panel-footer">
                            <input type="text" placeholder="Escribe tu comentario...">
                            <div ng-repeat=" comentario in post.actividad[0].comentarios ">
                                <p ng-bind="comentario.contenido"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock container %}
