{% extends 'Base/base.html' %}
{% load static %}

{% block extrastatic %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
{% endblock extrastatic %}

{% block extra_js_head %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock extra_js_head %}

{% block container %}
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top naveg" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-education" ></span> EXPERT.COM</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                  <!--<li><a href="#"><span class="sr-only">(current)</span></a></li>-->
                  <li><a href="#"><i class="material-icons">account_circle</i>Mi Perfil</a></li>
              </ul>
              <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Buscar">
                  </div>
                  <button type="submit" class="btn btn-primary naveg"><i class="material-icons">search</i></button>
                  <button type="" class="btn btn-primary naveg"><i class="material-icons">exit_to_app</i>Cerrar Sesión</button>
              </form>
          </div>
      </div>
  </nav>

    <div class="sig-nav">
      <div class="panel panel-default" style="background-color: #ffffff; width: 25%; height: 200px; float:left; margin-left: 40px">
                 <div class="panel-body">
                     <center><img src="../../static/images/perfil_01.jpg" align="center" class="img-circle"></center>
                </div>
          </div>
          <div class="panel panel-default post" style="float: right">
            <div class="col-xs-12">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="contenido" class="control-label">¿Qué estas pensando?</label>
                        <textarea name="contenido" id="contenido" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary btn-lg naveg">Fotos <span class="glyphicon glyphicon-camera"></span></a>
                        <a class="btn btn-primary btn-lg naveg">Estado <span class="glyphicon glyphicon-user"></span></a>
                        <a class="btn btn-primary btn-lg naveg">Publicar <span class="glyphicon glyphicon-world"></span></a>
                    </div>
                </form>

            </div>

        </div>
          
    </div>
</div>
{% endblock %}