{% load staticfiles %}

<! DOCTYPE html>
<html lang="es" ng-app="RedSocialUCLA">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8"/>
    <meta name="description" content="1.0">
    <meta name="keywords" content="LABORATORIO 3">
    <meta name="author" content="NARVIS GIL, GLENNISBETH RODRIGUEZ, MIGDALIA ATACHO, EVELYN PUERTA">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
    {% endblock meta%}

    {% block extrastatic %}
    {% endblock extrastatic%}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/Red.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/glyphicons-halflings-regular.ttf' %}"/>
    <link rel="stylesheet" href="{% static 'css/fileinput.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/materialdesignicons.css'%}">
	<!--<link rel="stylesheet" href="{% static 'css/lumx.css' %}">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.0-beta.5/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.4.0-beta.5/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controller.js' %}"></script>
    <script src="{% static 'js/service.js' %}"></script>
    <script src="{% static 'js/directives.js' %}"></script>
   <!-- <script src="{% static 'js/lumx.js' %}"></script-->
    <!--<script src="static 'js/jquery-1.10.2.min.js'"></script>-->

    {% block base %}
    {% endblock base %}
    {% block css %}
    {% endblock css %}

    {% block extra_js_head %}
    {% endblock extra_js_head %}

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top naveg" role="navigation">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'red:url_timeline' %}"><span class="glyphicon glyphicon-education" ></span> EXPERT.COM</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="sr-only">(current)</span></a></li>
                        <li><a href="{% url 'red:url_miperfil' %}">PERFIL</a></li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <a style="color: white" class=" glyphicon glyphicon-search" href="{% url 'red:url_buscar' %}"></a>
                        <a class="btn btn-link" href="{% url 'red:index' %}">SALIR</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </nav>

{% block container %}
{% endblock container %}

 <!--https://code.jquery.com/jquery-1.10.2.min.js
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/fileinput.min.js' %}"></script>


{% block extrajs %}
{% endblock %}

{% block js_in_footer %}
{% endblock js_in_footer %}

</body>

</html>
